---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline: string;
};

const { label, isUnderline, href } = Astro.props;
---

<a
  href={href}
  class:list={{
    ["hover:text-neutral-100 cursor-pointer"]: true,
    ["underline decoration-dashed underline-offset-8"]: (isUnderline == 'True'),
  }}
>
  {label}
</a>
