---
import ContentListLayout from "@/layouts/ContentListLayout.astro";
import TimelineCard from "@/components/TimelineCard.astro";
import formatDateFromJSON from "@/utils/formatDateFromJSON";
import courses from "@/content/education/courses.json";
---

<ContentListLayout
  title="Education"
  pageTitle="Education"
  contentType="education"
>
  <TimelineCard
    type="education"
    title="Master of Science - Applied Data Analytics"
    organization="Boston University"
    organizationUrl="https://www.bu.edu"
    dateRange="Boston | Present"
    items={[
      "Analytics and Data Visualization in R",
      "Advanced Machine Learning",
      "Big Data Analytics",
      "Web Mining & Graph Analytics"
    ]}
  />

  <TimelineCard
    type="education"
    title="Bachelor of Science (Honors) - Mathematics and Computer Science"
    organization="Chennai Mathematical Institute"
    organizationUrl="https://www.cmi.ac.in"
    dateRange="Chennai | July 2024"
    items={[
      "Linear Algebra",
      "Fourier Analysis",
      "Data Structures and Algorithms",
      "Probability Theory & Statistics",
      "Stochastic Processes",
      "Statistical Inference",
      "Financial Modelling",
      "Economics"
    ]}
  />

  <TimelineCard
    type="education"
    title="Grade 12 (Maharashtra HSC) - Science"
    organization="PACE Junior Science College"
    dateRange="Mumbai | September 2021"
    items={[
      "Percentage: 94.5% (12th Grade, HSC Maharashtra Board)",
      "JEE Mains (All India Rank 5274) & Advanced (All India Rank 4690)"
    ]}
  />

  <Fragment slot="additional">
    <article class="flex flex-col gap-8">
      <header>
        <h2 class="text-3xl md:text-4xl font-bold gradient-text">Courses & Workshops</h2>
      </header>
      <section class="content-list content-list--course flex flex-col flex-wrap gap-2 md:flex-row md:flex-wrap">
        {courses.map((course) => (
          <TimelineCard
            type="course"
            title={course.title}
            completedOn={formatDateFromJSON(course.completedOn)}
            offeredBy={course.offeredBy}
          />
        ))}
      </section>
    </article>
  </Fragment>
</ContentListLayout>
