---
import Layout from "@/layouts/Layout.astro";
import formatDateFromJSON from "@/utils/formatDateFromJSON";
import CourseCard from "@/components/CourseCard.astro";
import courses from "@/content/education/courses.json"

---

<Layout title="Education">
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8">
      <header>
        <h1 class="text-3xl text-neutral-100">Education</h1>
      </header>
      <section class="flex flex-col flex-wrap gap-8 md:flex-row md:flex-wrap ">
        <div
          class="flex flex-col w-full gap-2"
        >
          <div class="flex w-full items-center justify-between">
            <h2 class="text-2xl text-neutral-100">
              <a href="https://www.bu.edu">
                Boston University
              </a>
            </h2>
            <p class="text-neutral-200">Boston | Present</p>
          </div>
          <p class="text-lg text-neutral-200">Master of Science - Applied Data Analytics</p>
          <ul class="list-disc pl-8">
            <li>
              Analysis of Algorithms (CS 566); Data Science with Python (CS 677)
            </li>
            <li>
              Foundations of Analytics and Data Visualisation (CS 544); Foundations of Machine Learning (CS 555)
            </li>
          </ul>
        </div>
        
        <div
          class="flex flex-col w-full gap-2"
        >
          <div class="flex w-full items-center justify-between">
            <h2 class="text-2xl text-neutral-100">
              <a href="https://www.cmi.ac.in">
                Chennai Mathematical Institute
              </a>
            </h2>
            <p class="text-neutral-200">Chennai | July 2024</p>
          </div>
          <p class="text-lg text-neutral-200">Bachelor of Science (Hons) - Mathematics and Computer Science</p>
          <ul class="list-disc pl-8">
            <li>
              Linear algebra, Exterior & Tensor algebra, Group theory & Ring theory; Analysis of multi-variate real-valued functions, Fourier Analysis; Differential Equations; Topology
            </li>
            <li>
              Design & Analysis of Algorithms, Theory of Computation - Finite state automata, pushdown automata and Turing machines.
            </li>
            <li>
              Probability Theory - expected values, standard deviation & variance; Stochastic Processes; Statistical Inference
            </li>
            <li>
              Linear Programming; Theoretical Foundations of Machine Learning; Data Mining & Machine Learning; Applied Machine Learning (MLOps); Financial Modelling with Python; Economics
            </li>
          </ul>
        </div>

        <div
        class="flex flex-col w-full gap-2"
      >
        <div class="flex w-full items-center justify-between">
          <h2 class="text-2xl text-neutral-100">
              PACE Junior Science College
          </h2>
          <p class="text-neutral-200">Mumbai | September 2021</p>
        </div>
        <p class="text-lg text-neutral-200">Grade 12 (Maharashtra HSC) - Science</p>
        <ul class="list-disc pl-8">
          <li>
            Percentage: 94.5% (12th Grade, HSC Maharashtra Board)
          </li>
          <li>
            JEE Mains (All India Rank 5274) & Advanced (All India Rank 4690)
          </li>
        </ul>
      </div>
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header>
        <h1 class="text-3xl text-neutral-100">Courses & Workshops</h1>
      </header>
      <section class="flex flex-col flex-wrap gap-2 md:flex-row md:flex-wrap ">
        {
          courses.map((course) => (
            <CourseCard title={course.title}
              completedOn={formatDateFromJSON(course.completedOn)} 
              offeredBy={course.offeredBy}
              />
            )
          )
        }
      </section>
    </article>
  </main>
</Layout>
