---
import Layout from "@/layouts/Layout.astro";

---

<Layout title="Education">
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8">
      <header>
        <h1 class="text-3xl text-neutral-100">Experience</h1>
      </header>

      <section class="flex flex-col flex-wrap gap-8 md:flex-row md:flex-wrap ">
        
        <div
          class="flex flex-col w-full gap-2 transition-all duration-200 hover:-translate-y-2 hover:text-neutral-100"
        >
          <div class="flex w-full items-center justify-between">
            <h2 class="text-2xl text-neutral-100">
              <a href="https://www.bu.edu">
                Maths Circle | Raising A Mathematician (RAM) Foundation
              </a>
            </h2>
            <p class="text-lg text-neutral-200">
              July 2024 -  August 2024
            </p>
          </div>
          <div class="flex w-full items-center justify-between">
            <h3>
              Program Operations Intern
            </h3>
            <p class="text-neutral-200">
              Mumbai, MH, India 
            </p>
          </div>
          <ul class="list-disc pl-8">
            <li>
              
• Analyzed applicant data to identify most viable locations for initial chapters.
• Spearheaded the establishment and start of the Maths Circle Initiative in Chennai; received 300 applicants from the
greater Chennai area, accepting 35
• Lead a team of problem setter, created question papers for various RAM Examinations.
Skills Used: Data Analysis, Python, Microsoft Excel, Confluence, Jira
            </li>
            <li>
              Foundations of Analytics and Data Visualisation (CS 544); Foundations of Machine Learning (CS 555)
            </li>
          </ol>
        </div>

        <div
          class="flex flex-col w-full gap-2 transition-all duration-200 hover:-translate-y-2 hover:text-neutral-100"
        >
          <div class="flex w-full items-center justify-between">
            <h2 class="text-2xl text-neutral-100">
              <a href="https://www.bu.edu">
                Boston University
              </a>
            </h2>
            <p class="text-neutral-200">Boston | Present</p>
          </div>
          <p class="text-lg text-neutral-200">Master of Science - Applied Data Analytics</p>
          <ul class="list-disc pl-8">
            <li>
              Analysis of Algorithms (CS 566); Data Science with Python (CS 677)
            </li>
            <li>
              Foundations of Analytics and Data Visualisation (CS 544); Foundations of Machine Learning (CS 555)
            </li>
          </ol>
        </div>

        <div
          class="flex flex-col w-full gap-2 transition-all duration-200 hover:-translate-y-2 hover:text-neutral-100"
        >
          <div class="flex w-full items-center justify-between">
            <h2 class="text-2xl text-neutral-100">
              <a href="https://www.bu.edu">
                Boston University
              </a>
            </h2>
            <p class="text-neutral-200">Boston | Present</p>
          </div>
          <p class="text-lg text-neutral-200">Master of Science - Applied Data Analytics</p>
          <ul class="list-disc pl-8">
            <li>
              Analysis of Algorithms (CS 566); Data Science with Python (CS 677)
            </li>
            <li>
              Foundations of Analytics and Data Visualisation (CS 544); Foundations of Machine Learning (CS 555)
            </li>
          </ol>
        </div>

        <div
          class="flex flex-col w-full gap-2 transition-all duration-200 hover:-translate-y-2 hover:text-neutral-100"
        >
          <div class="flex w-full items-center justify-between">
            <h2 class="text-2xl text-neutral-100">
              <a href="https://www.bu.edu">
                Boston University
              </a>
            </h2>
            <p class="text-neutral-200">Boston | Present</p>
          </div>
          <p class="text-lg text-neutral-200">Master of Science - Applied Data Analytics</p>
          <ul class="list-disc pl-8">
            <li>
              Analysis of Algorithms (CS 566); Data Science with Python (CS 677)
            </li>
            <li>
              Foundations of Analytics and Data Visualisation (CS 544); Foundations of Machine Learning (CS 555)
            </li>
          </ol>
        </div>
        
      </section>
    </article>

  </main>
</Layout>
