---
import Layout from "@/layouts/Layout.astro";

---

<Layout title="Education">
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8">
      <header>
        <h1 class="text-3xl text-neutral-100">Experience</h1>
      </header>

      <section class="flex flex-col flex-wrap gap-8 md:flex-row md:flex-wrap ">
        
        <div
          class="flex flex-col w-full gap-2"
        >
          <div class="flex w-full items-center justify-between">
            <h2 class="text-xl text-neutral-100">
              <a href="https://www.mathscircle.org">
                Maths Circle | Raising A Mathematician (RAM) Foundation
              </a>
            </h2>
            <p class="text-neutral-200">
              July 2024 - August 2024
            </p>
          </div>
          <div class="flex w-full items-center justify-between">
            <h3 class="text-lg text-neutral-100">
              Program Operations Intern
            </h3>
            <p class="text-neutral-200">
              Mumbai, MH, India 
            </p>
          </div>
          <ul class="list-disc pl-8">
            <li>
              Analyzed application data of over 6000 registrants to identify most viable locations for initial chapters.
            </li>
            <li>
              Spearheaded the establishment and start of the Maths Circle Initiative in Chennai; received 300 applicants from the greater Chennai area, accepting 35 students.
            </li>
            <li>
              Lead a team of problem setters, created question papers for various RAM Examinations.
            </li>
          </ul>
          <p class="text-neutral-200">
            <b>Skills Used: </b> Data Analysis, Python, Microsoft Excel, Confluence, Jira
          </p>
        </div>

        <div
          class="flex flex-col w-full gap-2"
        >
          <div class="flex w-full items-center justify-between">
            <h2 class="text-xl text-neutral-100">
              <a href="https://www.mathscircle.org">
                Science Enrichment Program | Mumbai Science Teachers Association
              </a>
            </h2>
            <p class="text-neutral-200">
              July 2021 - August 2024
            </p>
          </div>
          <div class="flex w-full items-center justify-between">
            <h3 class="text-lg text-neutral-100">
              Mathematics & Physics Teacher
            </h3>
            <p class="text-neutral-200">
              Mumbai, MH, India 
            </p>
          </div>
          <ul class="list-disc pl-8">
            <li>
              Helped students prepare for the various stages leading up to the International Junior Science Olympiad, one of whom won a gold medal for Team India at the International Biology Olympiad in 2024.
            </li>
            <li>
              Prepared and implemented lesson plans covering required course topics.
            </li>
          </ul>
          <p class="text-neutral-200">
            <b>Skills Used: </b> Teaching, LaTeX, Communication
          </p>
        </div>

        <div
          class="flex flex-col w-full gap-2"
        >
          <div class="flex w-full items-center justify-between">
            <h2 class="text-xl text-neutral-100">
              <a href="https://www.mathscircle.org">
                Fino Payments Bank
              </a>
            </h2>
            <p class="text-neutral-200">
              May 2023 - July 2023
            </p>
          </div>
          <div class="flex w-full items-center justify-between">
            <h3 class="text-lg text-neutral-100">
              Data Analytics Intern
            </h3>
            <p class="text-neutral-200">
              Navi Mumbai, MH, India
            </p>
          </div>
          <ul class="list-disc pl-8">
            <li>
              Created a database of over 6000 active government-sponsored schemes, distributing over INR 20.000,000,000.
            </li>
            <li>
              Worked in PySpark, to identify potential revenue streams that could double revenue in the upcoming years.
            </li>
            <li>
              Performed a cost-to-benefit analysis, drafted a proposal for a nation-wide marketing plan to promote government-sponsored-scheme-related services offered by the bank.
            </li>
          </ul>
          <p class="text-neutral-200">
            <b>Skills Used: </b> Data Analysis, NumPy, Pandas, PySpark
          </p>
        </div>

        <div
          class="flex flex-col w-full gap-2"
        >
          <div class="flex w-full items-center justify-between">
            <h2 class="text-xl text-neutral-100">
              <a href="https://www.mathscircle.org">
                Chennai Mathematical Institute
              </a>
            </h2>
            <p class="text-neutral-200">
              August 2023 - January 2024
            </p>
          </div>
          <div class="flex w-full items-center justify-between">
            <h3 class="text-lg text-neutral-100">
              Teaching Assistant
            </h3>
            <p class="text-neutral-200">
              Chennai, TN, India 
            </p>
          </div>
          <ul class="list-disc pl-8">
            <li>
              Acted as a Teaching Assistant for 3 courses - Classical Mechanics 1, Design and Analysis of Algorithms for Data Science (ADT) (for Masters' students), Design and Analysis of Algorithms (ALGO).
            </li>
            <li>
              Also acted as a Teaching Assistant for the Design and Analysis of Algorithms (DAA) Course conducted via NPTEL from May 2023 till July 2023, and January 2024 till March 2024.
            </li>
          </ul>
          <p class="text-neutral-200">
            <b>Skills Used: </b> Teaching, LaTeX, Communication
          </p>
        </div>
        
      </section>
    </article>

  </main>
</Layout>
