---
import SocialLinks from "@/components/SocialLinks.astro";
---
<hr>
<footer>
  <div class="z-40 flex w-full flex-col gap-0 md:flex-row md:justify-between">
    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Get in Touch</h3>
      </header>
      <p>
        Feel free to email me at or follow me via my social links.
      </p>
      <SocialLinks />
    </article>
  </div>
  <div class="self-center py-8">
    Built by Siddhant Shah with <a href="https://astro.build">Astro</a>, based on <a href="https://github.com/MaeWolff/astro-portfolio-template">this template.</a> 
  </div>
  
</footer>
