---
import Link from "./shared/Link.astro";
import presentation from "@/data/presentation";
---

<ul role="list" class="flex flex-row flex-wrap gap-3">
  {
    presentation.socials.map((social) => (
      <li>
        <Link href={social.link} label={social.label} isUnderline="False" />
      </li>
    ))
  }
</ul>
